# IDE Settings Folders
/.idea/
/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Project Environment Folders/Configs
/venv/Lib/site-packages/
/venv/Scripts/
/venv/pyvenv.cfg

# Environment Variables
*.env

# Thumbnail Cache Files
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable
.DS_Store

# Folder Config Files
[Dd]esktop.ini

# Dump File
*.stackdump

# Windows Shortcuts
*.lnk

# General Project Files
Pipfile.lock
